<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <label for="projectName">Project Name</label>
    <div class="input-group mb-3">
        <input 
        name="projectName"
        type="text" 
        id="name"
        class="form-control" 
        formControlName = "projectName"
        placeholder="New project">
    </div>

    <div class="input-group">
        <ul class="nav nav-pills">
            <li class="nav-item"
            *ngFor="let btn of clientSelectButtons" >
                <button type="button" 
                [class.active]="activeClientTab === btn.name" 
                (click)="setActiveClientTab(btn.name)" 
                class="nav-link">{{btn.text}}</button>
            </li>
        </ul>
    </div>

    <div class="tab-pane pt-2" [ngSwitch]="activeClientTab">
        <div *ngSwitchCase="'newClient'">
            <app-new-client></app-new-client>
        </div>
        <div *ngSwitchCase="'existingClient'">
            <app-existing-client-form 
            [parentForm]="projectForm" 
            (sendFormGroup)="onSendFormGroup($event)">
            </app-existing-client-form>
        </div>
    </div>

    <label for="work-to-perform">Work to perform</label>
    <div class="input-group mb-3">
        <textarea 
        name="work-to-perform" 
        formControlName="notes"
        class="form-control" 
        id="work-to-perform-field"></textarea>
    </div>

    <label for="due-by-date">Date needed by</label>
    <div class="input-group mb-3">
        <input 
        name="due-by-date" 
        formControlName="dueDate"
        type="date" 
        class="form-control"
        id="due-by-date-field">
    </div>
    
    <label for="quoted-price">Quoted price</label>
    <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input 
        name="quoted-price"
        formControlName="quotedPrice"
        type="text" 
        class="form-control">
    </div>

    
    <!-- https://stackoverflow.com/questions/33279153/rest-api-file-ie-images-processing-best-practices -->
    <label for="photo">Photo</label>
    <div class="input-group mb-3">
        <input 
        type="file"
        name="photo"
        formControlName="photo"
        class="form-control"
        accept=".jpg,.jpeg,.png,.gif,.tiff,.bmp">
    </div>

    
    <div class="form-group mb-3">
        <input 
        type="submit" 
        value="Submit" 
        class="btn btn-success"
        [disabled]="!projectForm.valid">
    </div>
</form>

