<!-- <p>Name field value: {{ projectForm.value.projectName }}</p>
<p>Name field validity: {{ projectForm.controls.projectName.valid }}</p>
<p>Name field dirty: {{ projectForm.controls.projectName.dirty }}</p>
<p>dueDate field value: {{ projectForm.value.dueDate }}</p>
<p>dueDate field validity: {{ projectForm.controls.dueDate.valid }}</p>
<p>quotedPrice field value: {{ projectForm.value.quotedPrice }}</p>
<p>quotedPrice field validity: {{ projectForm.controls.quotedPrice.valid }}</p>
<p>notes field value: {{ projectForm.value.notes }}</p>
<p>notes field validity: {{ projectForm.controls.notes.valid }}</p>
<p>photo field value: {{ projectForm.value.photo }}</p>
<p>photo field validity: {{ projectForm.controls.photo.valid }}</p>
<p>Form validity: {{ projectForm.valid }}</p> -->
<!-- <p>Child form value: {{childFormGroup.value.clientName}}</p> -->



<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <label for="projectName">Project Name</label>
    <div class="input-group mb-3">
        <input 
        name="projectName"
        type="text" 
        id="name"
        class="form-control" 
        formControlName = "projectName"
        placeholder="New project" >
    </div>

    <div class="input-group">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <button type="button" 
                [class.active]="activeClientTab === 'newClient'" 
                (click)="setActiveClientTab('newClient')" 
                class="nav-link">New Customer</button>
            </li>
            <li class="nav-pills">
                <button type="button" 
                [class.active]="activeClientTab === 'existingClient'" 
                (click)="setActiveClientTab('existingClient')" 
                class="nav-link">Existing customer</button>
            </li>
        </ul>
    </div>

    <div class="tab-pane pt-2" [ngSwitch]="activeClientTab">
        <div *ngSwitchCase="'newClient'">
            <app-new-client></app-new-client>
        </div>
        <div *ngSwitchCase="'existingClient'">
            <app-existing-client-form 
            [parentForm]="projectForm" 
            (sendFormGroup)="onSendFormGroup($event)"
            >
            </app-existing-client-form>
        </div>
    </div>

    <p>Parent form, from parent: {{projectForm.controls['projectName'].value}}</p>
    <!-- Does not work. It does not yet exist on the parent so it sits here... -->
    <p>Child form, from parent: {{projectForm.value.existingClient}}</p>

    <label for="work-to-perform">Work to perform</label>
    <div class="input-group mb-3">
        <textarea 
        name="work-to-perform" 
        formControlName="notes"
        class="form-control" 
        id="work-to-perform-field"
        ></textarea>
    </div>

    <label for="due-by-date">Date needed by</label>
    <div class="input-group mb-3">
        <input 
        name="due-by-date" 
        formControlName="dueDate"
        type="date" 
        class="form-control"
        id="due-by-date-field" 
        >
    </div>
    
    <label for="quoted-price">Quoted price</label>
    <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input 
        name="quoted-price"
        formControlName="quotedPrice"
        type="text" 
        class="form-control" 
        >
    </div>

    
    <!-- https://stackoverflow.com/questions/33279153/rest-api-file-ie-images-processing-best-practices -->
    <label for="photo">Photo</label>
    <div class="input-group mb-3">
        <input 
        type="file"
        name="photo"
        formControlName="photo"
        class="form-control"
        accept=".jpg,.jpeg,.png,.gif,.tiff,.bmp"
        >
    </div>

    
    <div class="form-group mb-3">
        <input 
        type="submit" 
        value="Submit" 
        class="btn btn-success"
        [disabled]="!projectForm.valid"
        >
    </div>
</form>

