
<h3>All Clients</h3>

<div class="container">
    <table class="table" style="background-color:white;">
        <thead class="thead-light">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th>Email</th>
            <th>Projects</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of allClients">
                
                <td><a href="/client/{{client.id}}">{{client.firstName}} {{client.lastName}}</a></td>
                <td>{{client.phoneNumber}}</td>
                <td>{{client.email}}</td>
                <td><a href="/project">View Projects</a></td>
            </tr>
        </tbody>
    </table>
</div>