<h3>Attach Existing Client</h3>
<label for="clientName">Existing customer</label>
<form 
[formGroup]="existingClientForm"
(change)="onChange()">
    <div class="input-group mb-3">
        <input 
        name="firstName"
        type="text" 
        id="first-name"
        class="form-control" 
        formControlName = "firstName"
        placeholder="John">
        <input
        name="lastName"
        type="text"
        id="last-name"
        class="form-control"
        formControlName = "lastName"
        placeholder="Doe">
    </div>
    <!-- TODO: Style me -->
</form>