<form 
[formGroup]="existingClientForm"
(change)="onChange()">
    <label for="firstName">First name</label>
    <div class="input-group mb-3">
        <input 
        name="firstName"
        type="text" 
        id="first-name"
        class="form-control" 
        formControlName = "firstName"
        placeholder="John">
    </div>

    <label for="lastName">Last name</label>
    <div class="input-group mb-3">
        <input
        name="lastName"
        type="text"
        id="last-name"
        class="form-control"
        formControlName = "lastName"
        placeholder="Smith">
    </div>
    <!-- TODO: Style me -->
</form>