
<app-new-project-form></app-new-project-form>

<!-- Add some styling to the h1 -->
<h1 class="mb-3">
    {{ formIntro }}
</h1>

<!-- TODO: Add NgForm to this form -->
<form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">

    <label for="name">Project Name</label>
    <div class="input-group mb-3">
            <input 
            name="projectName" 
            #projectName = "ngModel"
            [(ngModel)]="project.name" 
            type="text" 
            class="form-control" 
            placeholder="New project" 
            required
            >
    </div>

    <div class="input-group mb-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button (click)="newCustomer=false;" class="nav-link active">Existing customer</button>
            </li>
            <li class="nav-item">
                <button (click)="newCustomer=true;" class="nav-link active">New Customer</button>
            </li>
        </ul>
    </div>

    <div>
        <div *ngIf="newCustomer; else existingCustomerBlock">
            <app-new-client></app-new-client>
        </div>
        <ng-template #existingCustomerBlock>
            <label for="customer">Existing customer</label>
            <div class="input-group mb-3">
                <input #customerName type="text" name="customer" class="form-control" placeholder="FirstName LastName">
            </div>
        </ng-template>
    </div>

    <label for="work-to-perform">Work to perform</label>
    <div class="input-group mb-3">
        <textarea 
        name="work-to-perform" 
        [(ngModel)]="project.notes" 
        class="form-control" 
        id="work-to-perform-field"
        ></textarea>
    </div>
    
    <label for="due-by-date">Date needed by</label>
    <div class="input-group mb-3">
        <input 
        name="due-by-date" 
        [(ngModel)]="project.dueDate"
        type="date" 
        class="form-control"
        id="due-by-date-field" 
        >
    </div>
    
    <label for="quoted-price">Quoted price</label>
    <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input 
        name="quoted-price"
        [(ngModel)]="project.quotedPrice"
        type="text" 
        class="form-control" 
        >
    </div>

    <!-- https://stackoverflow.com/questions/33279153/rest-api-file-ie-images-processing-best-practices -->
    <label for="photo">Photo</label>
    <div class="input-group mb-3">
        <input 
        type="file"
        name="photo"
        class="form-control"
        accept=".jpg,.jpeg,.png,.gif,.tiff,.bmp"
        >
    </div>

    <div class="form-group mb-3">
        <input 
        type="submit" 
        value="Submit" 
        class="btn btn-success">
        disabled="{{projectForm.disabled}}"
    </div>

</form>