<h3>Add New Client</h3>
<form (ngSubmit)="onSubmit()">
    <div>
        <label for="firstName">First Name
        <input  
            type="text" 
            [(ngModel)]="client.firstName"
            name=firstName
            id="firstName">
        </label>
    </div>

    <div> 
        <label for="lastName">Last Name
        <input
            type="text" 
            [(ngModel)]="client.lastName"
            name="lastName"
            id="lastName">
        </label>
    </div>

    <div>
        <label for="phoneNumber">Phone Number
        <input 
            type="tel" 
            [(ngModel)]="client.phoneNumber"
            name="phoneNumber"
            id="phoneNumber">
        </label>
    </div>

    <div>
        <label for="email">Email
        <input 
                type="text" 
                [(ngModel)]="client.email"
                name="email"
                id="email">
        </label>
    </div>
    <button type="submit">Submit</button>
</form>