<p>new-client works!</p>
<form (ngSubmit)="onSubmit()">
    <input placeholder="First Name" 
            type="text" 
            [(ngModel)]="client.firstName"
            name=firstName
            id="firstName">
            

    <input placeholder="Last Name" 
            type="text" 
            [(ngModel)]="client.lastName"
            name="lastName"
            id="lastName">

    <input placeholder="Phone Number" 
            type="number" 
            [(ngModel)]="client.phoneNumber"
            name="phoneNumber"
            id="phoneNumber">

    <input placeholder="Email" 
            type="text" 
            [(ngModel)]="client.email"
            name="email"
            id="email">

    <button type="submit">Submit</button>
</form>